figure {
	transform-origin: top;
}

.reveal section img {
	border: none;
}

section.present {
	top: 1em !important;	/* à cause du titre <h1> déplacé en haut de page */
}

div.main-title-container h1 {
	text-align: right;
	margin-bottom: 0px;
	font-size: 2.5em;
}

div.main-title-container {
	border-bottom: 1px solid #3F3F3F;
	transform-origin: top right;
}

.reveal div.slides > section:not(:first-child) h1 {
	display: none;
}

.reveal section.transparent-images img {
	background: transparent;
	border: none;
	box-shadow: none;
}

.reveal pre {
	width: 95%;
}


/****************************************
 * Page de titre
 ****************************************/

h2.author {
	font-size: 1em;
}

h3.date {
	font-size: 0.5em;
}

div.license {
	margin-top: 3em;
}

div.license img {
	border: none;
	max-width: 150px;
}


/****************************************
 * Présentation
 ****************************************/

#infrastructure-web figure {
	max-width: 50%;
}
